.about {
	background: #088be6;
	padding-top: 180px;
	padding-bottom: 120px;
	&__container {
		display: flex;
		flex-direction: column;
	}

	&__header {
		text-align: center;
	}

	&__header-title {
		color: #1c1c1c;
		font-size: 64px;
		font-weight: 500;
		text-transform: uppercase;
	}

	&__header-subtitle {
		color: #1c1c1c;
		font-size: 24px;
		font-weight: 300;
		text-transform: uppercase;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__content-top {
		display: flex;
		align-items: center;
		&_left {
			max-width: 520px;
		}

		&_left-title {
			color: #fff;
			font-size: 85px;
			font-weight: 300;
		}

		&_left-subtitle {
			color: #fff;
			font-size: 19px;
			font-weight: 300;
			line-height: 26px;
		}

		&_right {
		}

		&_right-img {
			border-radius: 40px;
			margin-top: 150px;
		}
	}

	&__content-bottom {
		margin-top: 50px;

		&_img {
			border-radius: 40px;
		}
	}
}
